[submodule "SConsStandard"]
	path = SConsStandard
	url = https://github.com/lunarwatcher/sconsstandard.git
[submodule "Catch2"]
	path = Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "tabulate"]
	path = tabulate
	url = https://github.com/lunarwatcher/tabulate
