# Build ignores

.sconf_temp
.sconsign.dblite
build
config.log

# YCM ignores

conan_ycm_flags.json
staticinclude.txt
compile_commands.json
.ycm_extra_conf.py
.clangd/

# Ignore virtualenv
/env/
/venv/

# Ignore core dumps
/core

# Ignore symlinks used for easy debugging
/task
/test

# Not used anymore
coverage.info
