[submodule "SConsStandard"]
	path = SConsStandard
	url = https://github.com/lunarwatcher/sconsstandard.git
[submodule "tabulate"]
	path = tabulate
	url = https://github.com/p-ranav/tabulate.git
[submodule "Catch2"]
	path = Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "date"]
	path = dependencies/date
	url = https://github.com/HowardHinnant/date.git
