[submodule "SConsStandard"]
	path = SConsStandard
	url = https://github.com/lunarwatcher/sconsstandard.git
[submodule "tabulate"]
	path = tabulate
	url = https://github.com/lunarwatcher/tabulate
[submodule "catch2"]
	path = catch2
	url = https://github.com/catchorg/catch2
